<div class="col text-center">
   <h2>編集</h2>
　　<%= form_for(@user, url:users_user_path(@user)) do |f| %>
    <table class="table">
        <tbody>
            <tr>
	    	    <td><%= f.label :name, "名前" %></td>
	    	    <td><%= f.text_field :name %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :nickname, "ニックネーム" %></td>
	    	    <td><%= f.text_field :nickname %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :introduction, "自己紹介" %></td>
	    	    <td><%= f.text_area :introduction,size:"50x5" %></td>
	        </tr>
	    </tbody>
	</table>
	<%= f.submit "編集", class:"btn btn-lg btn-primary" %>
  </div>
<% end %>