<%= form_for(@calendar, url: users_calendar_path(@calendar) ) do |f| %>
 <div class="col text-center">
    <table class="table">
        <tbody>
            <tr>
	    	    <td><%= f.label :name, "料理名" %></td>
	    	    <td><%= f.text_field :name %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :quanitiy, "作り方" %></td>
	    	    <td><%= f.text_area :quanitiy %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :expiration_date, "買う物" %></td>
                <td><%= f.text_area :quanitiy %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :expiration_date, "必要に応じて買う物" %></td>
                <td><%= f.text_area :quanitiy %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :price, "価格" %></td>
	    	    <td><%= f.text_field :note,size:"50x5" %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :plan, "料理予定日" %></td>
	    	    <td><%= f.date_field(:plan,use_month_numbers: true) %></td>
	        </tr>
	    </tbody>
	</table>
	<%= f.submit "更新", class:"btn btn-lg btn-primary" %>
  </div>
<% end %>