<div class="container">
    <div class="col text-center">
        <%= form_for(store, url: url) do |f| %>
          <%= render 'layouts/error_messages', resource: store %>
		  	<div class="store_image">
			  	<%= f.label :image, "店舗画像" %></br>
			  	<%= attachment_image_tag store, :image, id: "img_prev", fallback: "no_image.jpg",size: "300x300" %></br>
			  	  	<%= attachment_image_tag recipe, :image, id: "img_prev", fallback: "no_image.jpg",size: "300x300" %>
			  	<%= f.attachment_field :image, id: :image %>
		    </div>
            <div  class="form-grop">
	    	    <%= f.label :name, "店舗名" %></br>
	    	    <%= f.text_field :name, size:"30x10" %>
	    	</div>

            <div  class="form-grop">
	    	    <%= f.label :explanation, "店舗紹介文" %></br>
	    	    <%= f.text_area :explanation, size:"100x10" %>
	        </div>

	        <div class="form-grop">
                <%= f.label :area, "エリア" %></br>
	    	    <%= f.select :area, Store.areas.keys,{prompt: '選択してください'} %>
	    	</div>

	        <div class="form-grop">
	    	    <%= f.label :address, "住所" %></br>
	    	    <%= f.text_area :address,size:"100x5" %>
	        </div>

	        <div class="form-grop">
	    	    <%= f.label :url, "店舗URL" %></br>
	    	    <%= f.text_field :url %>
	    	</div>

	    	<div class="form-grop">
	    	    <%= f.label :store_category_id, "カテゴリ" %></br>
	    	    <%= f.collection_select :store_category_id, StoreCategory.all, :id, :name,{prompt: '選択してください'} %></br>
	        </div>

	        <%= f.submit submit, class:"btn btn-lg btn-primary" %>
         <% end %>
    </div>
</div>