<div class="container">
    <div class="col text-center">
        <h2>タグ</h2>

    	<%= form_with model: @tag, url:admin_tags_path, local: true do |f| %>
    	    <%= f.label :tag_name, "タグ名" %></br>
    	    <%= f.text_field :tag_name %>

    	    <%= f.submit "追加",class: "btn btn-primary" %>
        <% end %>

        <table class="table">
        	<thead>
        		<tr>
        			<th>レシピタグ</th>
        			<th colspan = "2"></th>
        		</tr>
        	</thead>
        	<tbody>
        		<% @tags.each do |tag| %>
        		<tr>
        			<td><%= tag.tag_name %></td>
        			<td><%= link_to "編集", edit_admin_tag_path(tag),class: "btn btn-primary" %>
        			    <%= link_to "削除", admin_tag_path(tag), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
        			</td>
        		</tr>
        		<% end %>
        	</tbody>
        </table>
    </div>
</div>