<%= nested_form_for(recipe, url: url) do |f| %>
 <%= render 'layouts/error_messages', resource: recipe %>
 <div class="col text-center">
  	<div class="recipe_image">
	  	<%= f.label :name, "料理名" %>
	  	<%= f.text_field :name %></br>
	  	<%= attachment_image_tag recipe, :image, id: "img_prev", fallback: "no_image.jpg",size: "300x300" %></br>
	  	<%= f.attachment_field :image, id: :image%>
    </div>
</div>

 <div class="col text-center">
	<%= f.fields_for :recipe_ingredients do |r| %>
		<%= r.hidden_field :id %>
	    <%= r.label :name, "材料" %>
	    <%= r.text_field :name,{placeholder: "材料名"} %>
	    <%= r.text_field :quanitiy,{placeholder: "数量"}  %>
	    <%= r.link_to_remove "削除",class: "btn-sm btn-danger" %>
	<% end %>
	<%= f.link_to_add "追加",:recipe_ingredients ,class: "btn-sm btn-success"%>
    <%= f.fields_for :seasonings do |s| %>
        <%= s.hidden_field :id %>
	    <%= s.label :name, "調味料" %>
	    <%= s.text_field :name,{placeholder: "調味料名"}  %>
	    <%= s.text_field :quanitiy,{placeholder: "分量"}  %>
	    <%= s.link_to_remove "削除",class: "btn-sm btn-danger" %>
	<% end %>
	<%= f.link_to_add "追加",:seasonings,class: "btn-sm btn-success" %>
    <table class="table">
        <tbody>
	        <tr>
	    	    <td><%= f.label :explanation, "作り方" %></td>
	    	    <td><%= f.text_area :explanation, size:"100x10" %></td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :time, "調理時間" %></td>
	    	    <td>おおよそ　<%= f.text_field :time %>　分</td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :quanitiy, "分量" %></td>
	    	    <td><%= f.text_field :quanitiy %>　人分</td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :price, "価格" %></td>
	    	    <td>おおよそ　<%= f.text_field :price %>　円</td>
	        </tr>
	        <tr>
	    	    <td><%= f.label :recipe_category_id, "カテゴリ" %></td>
	    	    <td><%= f.collection_select :recipe_category_id, RecipeCategory.all, :id, :name,{prompt: '選択してください'} %></td>
	    	</tr>
	    	<tr>
            	<td>タグ</td>
            	<td>
		            <%= f.collection_check_boxes(:tag_ids, @tags, :id, :tag_name) do |tag| %>
		                <div class='form-check'>
			                <%= tag.label class: 'form-check-label' do %>
			                    <%= tag.check_box class: 'form-check-input' %>
			                    <%= tag.text %>
			                <% end %>
		                 </div>
		            <% end %>
		        </td>
	        </tr>
       </tbody>
	</table>


	<%= f.submit submit, class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
