<div class="row">
	<div class="col text-center">
	  <h1><%= @recipe.name %></h1>
	</div>
</div>
<div class="row">
    <div class="col-4">
        <div class="col text-center">
			<div class="recipe-image">
				<%= attachment_image_tag @recipe, :image,fallback: "no_image.jpg",size: "200x200"%>
				    <p>レシピ投稿者<%= @recipe.user.nickname %></p>
				<% if user_signed_in? %>
					<% if @recipe.interested_by?(current_user) %>
		                <%= link_to users_recipe_interests_path(@recipe), method:  :delete do %>
		                    <i class="far fa-star" aria-hidden="true" style="color: #FFD700;"></i>登録済み</br>
		                <% end %>
			        <% else %>
			            <%= link_to users_recipe_interests_path(@recipe), method: :post do %>
			                <i class="fas fa-plus" aria-hidden="true"></i>作ってみたい</br>
			            <% end %>
			        <% end %>
			    <% end %>
			</div>
         </div>
    </div>

     <div class="col-8">
         <div class="recipe-explanation">
	    	<p>作り方</p>
	    	<p><%= @recipe.explanation %></p>
	     </div>
	 </div>
</div>

<div class="row">
    <div class="col-12">
    	<div class="col text-center">
	       <p>材料</p>
	       <div class="ingredient_show">
			   <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
			    	<%= recipe_ingredient.name %>
			    	<%= recipe_ingredient.quanitiy %>
			    <% end %>
			</div>
	       <p>調味料</p>
	       <div class="ingredient_show">
			    <% @recipe.seasonings.each do |seasoning| %>
			    	<%= seasoning.name %>
			    	<%= seasoning.quanitiy %>
			    <% end %>
		   </div>
		</div>
	</div>
</div>

<div class="col text-center">
	<table class="table table-bordered">
        <tbody>
	        <tr>
	    	    <td>分量</td>
	    	    <td><%= @recipe.quanitiy %>人分</td>
	        </tr>
	        <tr>
	    	    <td>価格</td>
	    	    <td>おおよそ<%= @recipe.price %>円</td>
	        </tr>
	        <tr>
	    	    <td>カテゴリ</td>
	    	    <td><%= @recipe.recipe_category.name %></td>
	        </tr>
	        <tr>
	    	    <td>タグ</td>
				<td>
					<% @recipe.tags.each do |tag| %>
				      <%= tag.tag_name %>
				    <% end %>
				</td>
	        </tr>
        </tbody>
	</table>
	<% if user_signed_in? %>
		<% if @recipe.user.id == current_user.id %>
			<%= form_for(@calendar, url: users_calendars_path) do |f| %>
			    <%= f.label :plan, "料理予定日" %>
			    <%= f.hidden_field :recipe_id, :value => @recipe.id%>
			    <%= f.date_field(:plan) %>
			  <%= f.submit "追加", class:"btn btn-sm btn-primary" %>
			<% end %>
			<%= link_to "編集する", edit_users_recipe_path(@recipe), class: "btn btn-success edit_store_#{@recipe.id}" %>
			<%= link_to "削除する", users_recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger destroy_store_#{@recipe.id}" %>
		<% end %>
	<% end %>
</div>