<div class="row">
    <div class="col-4">
		 <div class="col text-center">
			<div class="recipe-image">
				<%= attachment_image_tag @recipe, :image,fallback: "no_image.jpg",size: "200x200"%>
				<p><%= @recipe.name %></p>
			</div>
         </div>
    </div>

     <div class="col-7">
         <div class="recipe-explanation">
	    	<p>作り方</p>
	    	<p><%= @recipe.explanation %></p>
	     </div>
	 </div>

<div class="col text-center">
	<table class="table table-bordered">
        <tbody>
	        <tr>
	    	    <td>材料</td>
	    	    <td><%= @recipe.ingredient %></td>
	        </tr>
	        <tr>
	    	    <td>調味料</td>
	    	    <td><%= @recipe.seasoning %></td>
	        </tr>
	        <tr>
	    	    <td>調理時間</td>
	    	    <td>おおよそ<%= @recipe.time %>分</td>
	        </tr>
	        <tr>
	    	    <td>分量</td>
	    	    <td><%= @recipe.quanitiy %>人分</td>
	        </tr>
	        <tr>
	    	    <td>価格</td>
	    	    <td>おおよそ<%= @recipe.price %>円</td>
	        </tr>
	        <tr>
	    	    <td>カテゴリ</td>
	    	    <td><%= @recipe.recipe_category.name %></td>
	        </tr>
	    </tbody>
	</table>
</div>