<div class="row">
    <div class="col-4">
		 <div class="col text-center">
			<div class="recipe-image">
				<%= attachment_image_tag @recipe, :image,fallback: "no_image.jpg",size: "200x200"%>
				<p><%= @recipe.name %></p>
			</div>
         </div>
    </div>

     <div class="col-8">
         <div class="recipe-explanation">
	    	<p>作り方</p>
	    	<p><%= @recipe.explanation %></p>
	     </div>
	 </div>

<div class="col text-center">
	<table class="table table-bordered">
        <tbody>
	        <tr>
	    	    <td>材料</td>
	    	    <td><%= @recipe.ingredient %></td>
	        </tr>
	        <tr>
	    	    <td>調味料</td>
	    	    <td><%= @recipe.seasoning %></td>
	        </tr>
	        <tr>
	    	    <td>調理時間</td>
	    	    <td>おおよそ<%= @recipe.time %>分</td>
	        </tr>
	        <tr>
	    	    <td>分量</td>
	    	    <td><%= @recipe.quanitiy %>人分</td>
	        </tr>
	        <tr>
	    	    <td>価格</td>
	    	    <td>おおよそ<%= @recipe.price %>円</td>
	        </tr>
	        <tr>
	    	    <td>カテゴリ</td>
	    	    <td><%= @recipe.recipe_category.name %></td>
	        </tr>
	        <tr>
	    	    <td>タグ</td>
				<td>
					<% @recipe.tags.each do |tag| %>
				      <%= recipe.tag.name %>
				    <% end %>
				</td>
	        </tr>
        </tbody>
	</table>
	<% if @recipe.user.id == current_user.id %>
		<%= form_for(@calendar, url: users_calendars_path) do |f| %>
		    <%= f.label :plan, "料理予定日" %>
		    <%= f.date_field(:plan,use_month_numbers: true) %>
		  <%= f.submit "追加", class:"btn btn-lg btn-primary" %>
		<% end %>
	<% end %>
			<p><%= link_to "編集する", edit_users_recipe_path(@recipe), class: "btn-lg btn-success edit_store_#{@recipe.id}" %>
			<%= link_to "削除する", users_recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-lg btn-danger destroy_store_#{@recipe.id}" %></p>
</div>