<!DOCTYPE html>
<html>
  <head>
    <title>Mehi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fb9a7a8e33.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="navbar clearfix navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav">
            <%= link_to "#" %>
          </ul>
        </nav>
        <nav>
          <ul class="nav justify-content-end">
            <!-- 会員ログイン時 -->
            <% if user_signed_in? %>
              <li id="nav-message"> ようこそ　　さん！</li>
              <li><%= link_to "マイページ", "#" %></li>
              <li><%= link_to "レシピ一覧", users_recipes_path %></li>
              <li><%= link_to "カレンダー", "#" %></li>
              <li><%= link_to "冷蔵庫", "#" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <!-- 管理者ログイン時 -->
            <% elsif admin_signed_in? %>
              <li><%= link_to "店舗一覧", admin_stores_path %></li>
              <li><%= link_to "店舗カテゴリ", admin_store_categories_path %></li>
              <li><%= link_to "レシピタグ", "#" %></li>
              <li><%= link_to "レシピカテゴリ", admin_recipe_categories_path  %></li>
              <li><%= link_to "食材カテゴリ", admin_ingreduent_categories_path  %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <!-- ログインしていない時 -->
            <% else %>
              <li><%= link_to "about", "#" %></li>
              <li><%= link_to "レシピ一覧", "#" %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "管理者はこちら", new_admin_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
