<!DOCTYPE html>
<html>
  <head>
    <title>Mehi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fb9a7a8e33.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="navbar clearfix navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav nav-log">
            <%= link_to "",root_path, class:"nav-logo" %>
          </ul>
        </nav>
        <nav>
          <ul class="nav justify-content-end">
            <!-- 会員ログイン時 -->
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", users_user_path(current_user.id) %></li>
              <li><%= link_to "レシピ一覧", users_recipes_path %></li>
              <li><%= link_to "カレンダー", users_calendars_path%></li>
              <li><%= link_to "冷蔵庫", users_ingredients_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <!-- 管理者ログイン時 -->
            <% elsif admin_signed_in? %>
              <li><%= link_to "店舗一覧", admin_stores_path %></li>
              <li><%= link_to "店舗カテゴリ", admin_store_categories_path %></li>
              <li><%= link_to "レシピタグ", admin_tags_path %></li>
              <li><%= link_to "レシピカテゴリ", admin_recipe_categories_path  %></li>
              <li><%= link_to "食材カテゴリ", admin_ingredient_categories_path  %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <!-- ログインしていない時 -->
            <% else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "about", users_recipes_about_path %></li>
              <li><%= link_to "レシピ一覧", users_recipes_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
    <%= yield %>
    </div>
    <footer class="fixed-bottom">
      <ul class="footer-menu">
        <li>
          <%= link_to "#" do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fab fa-facebook-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </li>
      </ul>
      <p>© All rights reserved by Mehi.work</p>
    </footer>
  </body>
</html>
